<% if user_signed_in? %>
  <%= current_user.username %>
  <%= current_user.email %>
<% else %>
  <h1>ようこそ</h1>
  <p>トップページです。</p>
<% end %>
<% if Rails.env.development? %>開発環境です<% end %>
<% if Rails.env.production? %>本番環境です<% end %>
