<% provide(:title, "通知") %>

<style media="screen">
  .subheader-menu-link-notify {
    color: rgb(0,121,181);
  }

  .subheader-menu-link-notify:hover {
    background-color: rgba(0,121,181,0.1);
    color: rgb(0,121,181);
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }

  .subheader-menu-link-notify-reviews {
    height: 2px;
    background-color: #0B6597;
  }
</style>

<div id="notifications">
  <%= render partial: 'notifications/notification_contents', locals: { notifications: @notifications } %>
</div>

<script type="text/javascript">
  if (document.getElementById("footer") == null) {
    var diva = document.getElementById("footerfixed");
    var div = document.createElement('div');
    div.innerHTML = `
    <div id="footer" class="footer footer-layout-set">
      <div class="footer-sentence">
        <span class="footer-sentence-link">
          <a class="footer-sentence-link-in" href="/homes/terms">利用規約</a>
        </span>
        <span class="footer-sentence-link">
          <a class="footer-sentence-link-in" href="/homes/privacy_policy">プライバシーポリシー</a>
        </span>
        <span class="footer-sentence-link-twe footer-sentence-link-twitter">
          <a class="footer-sentence-link-in" href="https://twitter.com/0je3EP7f4PZPpLm">
            <i class="fab fa-twitter"></i>
          </a>
        </span>
        <span class="footer-sentence-link-when">© 2020 - 2022 TechBookHub</span>
      </div>
    </div>
    `;
    diva.appendChild(div);
    $(`#footer`).unwrap();
  }
</script>
