<% if user_signed_in? %>
<% else %>
  <h1>ようこそ</h1>
  <p>トップページです。</p>
<% end %>

<script type="text/javascript">
  $('#notice').css('display','none');
  $('#alert').css('display','none');
</script>

<% if user_signed_in? %>

  <ul class="search_words">
    <li id="search_word_ruby" class="search_word">Ruby</li>
    <li id="search_word_rails" class="search_word search_word_left_mg">Rails</li>
    <li id="search_word_php" class="search_word search_word_left_mg">PHP</li>
    <li id="search_word_laravel" class="search_word search_word_left_mg">Laravel</li>
    <li id="search_word_python" class="search_word search_word_left_mg">Python</li>
    <li id="search_word_django" class="search_word search_word_left_mg">Django</li>
    <li id="search_word_go" class="search_word search_word_left_mg">Go</li>
    <li id="search_word_java" class="search_word search_word_left_mg">Java</li>
    <li id="search_word_typescript" class="search_word search_word_left_mg">TypeScript</li>
    <li id="search_word_javascript" class="search_word search_word_left_mg">JavaScript</li>
    <li id="search_word_react" class="search_word search_word_left_mg">React.js</li>
    <li id="search_word_next" class="search_word search_word_left_mg">Next.js</li>
    <li id="search_word_vue" class="search_word search_word_left_mg">Vue.js</li>
    <li id="search_word_nuxt" class="search_word search_word_left_mg">Nuxt.js</li>
    <li id="search_word_sql" class="search_word search_word_left_mg">SQL</li>
    <li id="search_word_aws" class="search_word search_word_left_mg">AWS</li>
    <li id="search_word_docker" class="search_word search_word_left_mg">Docker</li>
  </ul>

<div class="form-group row api-search-group">
  <input id="search_content" class="col-9 pr-0 form-control api-search-form" type="text" name="keyword" />
  <input type="submit" name="commit" value="検索" id="keyword" class="col-2 pt-2 pb-2 btn api-search-btn" data-disable-with="検索" />
</div>
<div id="loader-div">
</div>
<div id="items">
</div>

<% end %>

<script>

$(function(){
  var searchingTime = 0;
    $('#keyword').click(function() {
      if (searchingTime == 0) {
        var search_content = $("#search_content").val();
        $('#items').css('display','none');
        search(search_content);
      }
    });

    $('#search_word_ruby').click(function() {
      if (searchingTime == 0) {
        $('#items').css('display','none');
        $("#search_content").val('Ruby');
        search("ruby");
        searchingTime = 1;
      }
    });

    $('#search_word_rails').click(function() {
      if (searchingTime == 0) {
        $('#items').css('display','none');
        $("#search_content").val('Rails');
        search("Rails");
        searchingTime = 1;
      }
    });

    $('#search_word_php').click(function() {
      if (searchingTime == 0) {
        $('#items').css('display','none');
        $("#search_content").val('PHP');
        search("PHP");
        searchingTime = 1;
      }
    });

    $('#search_word_laravel').click(function() {
      if (searchingTime == 0) {
        $('#items').css('display','none');
        $("#search_content").val('Laravel');
        search("Laravel");
        searchingTime = 1;
      }
    });

    $('#search_word_python').click(function() {
      if (searchingTime == 0) {
        $('#items').css('display','none');
        $("#search_content").val('Python');
        search("Python");
        searchingTime = 1;
      }
    });

    $('#search_word_django').click(function() {
      if (searchingTime == 0) {
        $('#items').css('display','none');
        $("#search_content").val('Django');
        search("Django");
        searchingTime = 1;
      }
    });

    $('#search_word_go').click(function() {
      if (searchingTime == 0) {
        $('#items').css('display','none');
        $("#search_content").val('Go');
        search("Go");
        searchingTime = 1;
      }
    });

    $('#search_word_java').click(function() {
      if (searchingTime == 0) {
        $('#items').css('display','none');
        $("#search_content").val('Java');
        search("Java");
        searchingTime = 1;
      }
    });

    $('#search_word_typescript').click(function() {
      if (searchingTime == 0) {
        $('#items').css('display','none');
        $("#search_content").val('Typescript');
        search("Typescript");
        searchingTime = 1;
      }
    });

    $('#search_word_javascript').click(function() {
      if (searchingTime == 0) {
        $('#items').css('display','none');
        $("#search_content").val('Typescript');
        search("Javascript");
        searchingTime = 1;
      }
    });

    $('#search_word_react').click(function() {
      if (searchingTime == 0) {
        $('#items').css('display','none');
        $("#search_content").val('React.js');
        search("react");
        searchingTime = 1;
      }
    });

    $('#search_word_next').click(function() {
      if (searchingTime == 0) {
        $('#items').css('display','none');
        $("#search_content").val('Next.js');
        search("next");
        searchingTime = 1;
      }
    });

    $('#search_word_vue').click(function() {
      if (searchingTime == 0) {
        $('#items').css('display','none');
        $("#search_content").val('Vue.js');
        search("vue");
        searchingTime = 1;
      }
    });

    $('#search_word_nuxt').click(function() {
      if (searchingTime == 0) {
        $('#items').css('display','none');
        $("#search_content").val('Nuxt.js');
        search("nuxt");
        searchingTime = 1;
      }
    });

    $('#search_word_sql').click(function() {
      if (searchingTime == 0) {
        $('#items').css('display','none');
        $("#search_content").val('SQL');
        search("sql");
        searchingTime = 1;
      }
    });

    $('#search_word_aws').click(function() {
      if (searchingTime == 0) {
        $('#items').css('display','none');
        $("#search_content").val('AWS');
        search("aws");
        searchingTime = 1;
      }
    });

    $('#search_word_docker').click(function() {
      if (searchingTime == 0) {
        $('#items').css('display','none');
        $("#search_content").val('Docker');
        search("docker");
        searchingTime = 1;
      }
    });

  function search(search_content){
      dispLoading()
      searchingTime = 1;
      $.ajax({
        url: 'homes/search',
        type: 'GET',
        dataType: 'json',
        async: true,
        data: {search_content: search_content},
      }).done(function(data){
        $(`#items`).html(data.content);
        $(`#items`).css('display','');
        $("#loader").remove();
        searchingTime = 0;
      });
  }

  function dispLoading(){
    $("#loader-div").append("<div id='loader' class='loader mt-0'>" + "</div>");
  }

  function removeLoading(){
    $("#loader").remove();
  }

});
</script>
