<% provide(:title, "プライバシーポリシー") %>
<div class="container privacy-policy-terms">
  <div class="privacy-policy-big-title">プライバシーポリシー</div>
  <div class="privacy-policy-title">取得する情報</div>
  <div class="privacy-policy-subtitle">本サービスはユーザーから以下の情報を取得します。</div>
  <div class="privacy-policy-sentence"><span class="privacy-policy-dot">・ </span>メールアドレス</div>
  <div class="privacy-policy-sentence"><span class="privacy-policy-dot">・ </span>外部サービスのプライバシー設定によりお客様が連携先に開示を認めた情報</div>
  <div class="privacy-policy-sentence"><span class="privacy-policy-dot">・ </span>Cookie(クッキー)を用いて生成された識別情報</div>
  <div class="privacy-policy-sentence"><span class="privacy-policy-dot">・ </span>OSが生成するID、端末の種類、端末識別子等のお客様が利用するOSや端末に関する情報</div>
  <div class="privacy-policy-sentence"><span class="privacy-policy-dot">・ </span>当社ウェブサイトの滞在時間、入力履歴、購買履歴等の当社ウェブサイトにおけるお客様の行動履歴</div>
  <div class="privacy-policy-sentence"><span class="privacy-policy-dot">・ </span>当社アプリの起動時間、入力履歴、購買履歴等の当社アプリの利用履歴</div>

  <div class="privacy-policy-title">情報を利用する目的</div>
  <div class="privacy-policy-subtitle">本サービスは、ユーザーから取得した情報を以下の目的のために利用します。</div>
  <div class="privacy-policy-sentence"><span class="privacy-policy-dot">・ </span>当社サービスに関する登録の受付、お客様の本人確認、認証のため</div>
  <div class="privacy-policy-sentence"><span class="privacy-policy-dot">・ </span>お客様の当社サービスの利用履歴を管理するため</div>
  <div class="privacy-policy-sentence"><span class="privacy-policy-dot">・ </span>当社サービスにおけるお客様の行動履歴を分析し、当社サービスの維持改善に役立てるため</div>
  <div class="privacy-policy-sentence"><span class="privacy-policy-dot">・ </span>市場分析、マーケティングのため</div>
  <div class="privacy-policy-sentence"><span class="privacy-policy-dot">・ </span>お客様からのお問い合わせに対応するため</div>
  <div class="privacy-policy-sentence"><span class="privacy-policy-dot">・ </span>当社の規約や法令に違反する行為に対応するため</div>
  <div class="privacy-policy-sentence"><span class="privacy-policy-dot">・ </span>当社サービスの変更、提供中止、終了、契約解除をご連絡するため</div>
  <div class="privacy-policy-sentence"><span class="privacy-policy-dot">・ </span>当社規約の変更等を通知するため</div>
  <div class="privacy-policy-sentence"><span class="privacy-policy-dot">・ </span>以上の他、当社サービスの提供、維持、保護及び改善のため</div>

  <div class="privacy-policy-title">第三者提供</div>
  <div class="privacy-policy-subtitle">本サービスは、ユーザーから取得する情報のうち、個人データ（個人情報保護法第２条第６項）に該当するものついては、あらかじめユーザーの同意を得ずに、第三者（日本国外にある者を含みます。）に提供しません。
  </div>
  <div class="privacy-policy-subtitle">但し、次の場合は除きます。</div>

  <div class="privacy-policy-sentence"><span class="privacy-policy-dot">・ </span>個人データの取扱いを外部に委託する場合</div>
  <div class="privacy-policy-sentence"><span class="privacy-policy-dot">・ </span>本サービスが買収された場合</div>
  <div class="privacy-policy-sentence"><span class="privacy-policy-dot">・ </span>事業パートナーと共同利用する場合（具体的な共同利用がある場合は、その内容を別途公表します。）</div>
  <div class="privacy-policy-sentence"><span class="privacy-policy-dot">・ </span>その他、法律によって合法的に第三者提供が許されている場合</div>

  <div class="privacy-policy-title">アクセス解析ツール</div>
  <div class="privacy-policy-sentence">
    本サービスは、ユーザーのアクセス解析のために、「Googleアナリティクス」を利用しています。Googleアナリティクスは、トラフィックデータの収集のためにCookieを使用しています。トラフィックデータは匿名で収集されており、個人を特定するものではありません。Cookieを無効にすれば、これらの情報の収集を拒否することができます。詳しくはお使いのブラウザの設定をご確認ください。Googleアナリティクスについて、詳しくは以下からご確認ください。
  </div>
  <div class="privacy-policy-link">https://marketingplatform.google.com/about/analytics/terms/jp/</div>

  <div class="privacy-policy-title">プライバシーポリシーの変更</div>
  <div class="privacy-policy-subtitle privacy-policy-last">本サービスは、必要に応じて、このプライバシーポリシーの内容を変更します。</div>
</div>

<style media="screen">
  body {
    background-color: #e9f1f5;
  }

  .privacy-policy-terms {
    color: #000000;
    opacity: 87.0%;
    padding: 12px;
  }

  .privacy-policy-big-title {
    font-size: 32px;
    line-height: 48px;
    letter-spacing: normal;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 10px;
  }

  .privacy-policy-title {
    font-size: 22px;
    line-height: 36px;
    letter-spacing: normal;
    font-weight: bold;
    margin-top: 15px;
  }

  .privacy-policy-subtitle {
    line-height: 1.7rem;
    margin-top: 0.3rem;
    margin-left: 10px;
    margin-bottom: 0.3rem;
    line-height: 27.2px;
    font-size: 16px;
    opacity: 80.0%;
    font-family: Roboto, sans-seri;
  }

  .privacy-policy-dot {
    font-weight: bold;
    opacity: 100%;
  }

  .privacy-policy-sentence {
    line-height: 27.2px;
    font-size: 16px;
    opacity: 80.0%;
    font-family: Roboto, sans-seri;
    margin-left: 15px;
  }

  .privacy-policy-link {
    line-height: 27.2px;
    font-size: 16px;
    font-weight: 500;
    opacity: 80.0%;
    line-height: 1.7rem;
    margin-top: 0.3rem;
    margin-left: 15px;
    margin-bottom: 0.3rem;
  }

  .privacy-policy-last {
    margin-left: 15px;
  }
</style>

<script type="text/javascript">
  $('#notice').css('display','none');
  $('#alert').css('display','none');
</script>

<script type="text/javascript">
  if (document.getElementById("footer") == null) {
    var diva = document.getElementById("footerfixed");
    var div = document.createElement('div');
    div.innerHTML = `
    <div id="footer" class="footer footer-layout-set">
      <div class="footer-sentence">
        <span class="footer-sentence-link">
          <a class="footer-sentence-link-in" href="/homes/terms">利用規約</a>
        </span>
        <span class="footer-sentence-link">
          <a class="footer-sentence-link-in" href="/homes/privacy_policy">プライバシーポリシー</a>
        </span>
        <span class="footer-sentence-link-twe footer-sentence-link-twitter">
          <a class="footer-sentence-link-in" href="https://twitter.com/0je3EP7f4PZPpLm">
            <i class="fab fa-twitter"></i>
          </a>
        </span>
        <span class="footer-sentence-link-when">© 2020 - 2022 TechBookHub</span>
      </div>
    </div>
    `;
    diva.appendChild(div);
    $(`#footer`).unwrap();
  }
</script>
