<% provide(:title, "利用規約") %>
<div class="container terms-container">
  <div class="terms-big-title">利用規約</div>
  <div class="terms-sentences">
    この利用規約（以下，「本規約」とします。）は，ウェブサイト上で提供するサービス（以下，「本サービス」とします。）の利用条件を定めるものです。本サービスの利用者（以下，「ユーザー」とします。）には，本規約に従い，本サービスをご利用いただきます。
  </div>
  <div class="terms-sentences">
    ユーザーは，本サービスに利用登録することにより，本規約の全ての記載内容について同意したものとみなされます。
  </div>
  <div class="terms-title">第1条（適用）</div>
  <div class="terms-sentences">本規約は，ユーザーと本サービス提供者との間の本サービスの利用に関わる一切の関係に適用されるものとします。</div>
  <div class="terms-title">第2条（利用登録）</div>
  <div class="terms-sentences">
    本サービスをおいては，登録希望者が本規約に同意の上，TwitterAPIを利用した認証を行うことにより，利用登録が完了するものとします。
  </div>
  <div class="terms-title">第3条（ユーザー情報）</div>
  <div class="terms-subtitle">第1項（ユーザー情報の利用）</div>
  <div class="terms-sentences">当サービスでは、ユーザーのプライバシー情報と個人情報を、<%= link_to 'プライバシーポリシー', show_privacy_policy_path, class: 'privacy-link' %>に従って適切に取り扱います。</div>
  <div class="terms-subtitle">第2項（本サービス内でのツイートデータの取り扱いについて）</div>
  <div class="terms-sentences">
    「ハッシュタグを登録する」よりハッシュタグ名を入力することにより，Twitter上のユーザーのツイートデータを収集及び利用し，ユーザーの情報として掲載することに同意するものとします。これ以降，本サービスは自動的に該当のツイートデータをTwitter上から収集します。
  </div>
  <div class="terms-sentences">
    ユーザーはハッシュタグの登録情報を削除することでのみ，本サービス上からツイートのデータを削除できます。
  </div>
  <div class="terms-sentences">
    また，本サービス内のユーザー情報及びツイートの変更・削除の行為によってTwitter上のデータに影響を及ぼすことはありません。
  </div>
  <div class="terms-title">第4条（禁止事項）</div>
  <div class="terms-sentences">ユーザーは，本サービスの利用にあたり，以下の行為をしてはなりません。</div>

  <div class="terms-dot-sentences"><span class="terms-sentences-dot">・ </span>法令または公序良俗に違反する行為犯罪行為に関連する行為</div>
  <div class="terms-dot-sentences"><span class="terms-sentences-dot">・ </span>本サービスの内容等，本サービスに含まれる著作権，商標権ほか知的財産権を侵害する行為</div>
  <div class="terms-dot-sentences"><span class="terms-sentences-dot">・ </span>本サービス，ほかのユーザー，またはその他第三者のサーバーまたはネットワークの機能を破壊したり，妨害したりする行為</div>
  <div class="terms-dot-sentences"><span class="terms-sentences-dot">・ </span>本サービスによって得られた情報を商業的に利用する行為</div>
  <div class="terms-dot-sentences"><span class="terms-sentences-dot">・ </span>本サービスの運営を妨害するおそれのある行為</div>
  <div class="terms-dot-sentences"><span class="terms-sentences-dot">・ </span>不正アクセスをし，またはこれを試みる行為</div>
  <div class="terms-dot-sentences"><span class="terms-sentences-dot">・ </span>他のユーザーに関する個人情報等を収集または蓄積する行為</div>
  <div class="terms-dot-sentences"><span class="terms-sentences-dot">・ </span>不正な目的を持って本サービスを利用する行為</div>
  <div class="terms-dot-sentences"><span class="terms-sentences-dot">・ </span>本サービスの他のユーザーまたはその他の第三者に不利益，損害，不快感を与える行為</div>
  <div class="terms-dot-sentences"><span class="terms-sentences-dot">・ </span>他のユーザーに成りすます行為</div>
  <div class="terms-dot-sentences"><span class="terms-sentences-dot">・ </span>本サービスが許諾しない本サービス上での宣伝，広告，勧誘，または営業行為，面識のない異性との出会いを目的とした行為</div>
  <div class="terms-dot-sentences"><span class="terms-sentences-dot">・ </span>本サービスに関連して，反社会的勢力に対して直接または間接に利益を供与する行為</div>
  <div class="terms-dot-sentences"><span class="terms-sentences-dot">・ </span>その他，本サービス提供者が不適切と判断する行為</div>

  <div class="terms-title">第5条（通知及び連絡）</div>
  <div class="terms-sentences">
    本サービスからユーザーに対する通知及び連絡は，公式Twitterアカウント（@Hash1og）からユーザーのTwitterアカウントに対するメンション及びダイレクトメッセージによって行うものとします。
  </div>
  <div class="terms-sentences">
    また，ユーザーがリマインダーを設定することにより，指定日数を超えてツイートがない場合，公式TwitterアカウントからユーザーのTwitterアカウントに対してメンションを送信することに同意するものとします。これは，ユーザーがリマインダーの設定を変更しない限り継続されます。
  </div>
  <div class="terms-sentences">
    ユーザーは，Twitter上のユーザー情報に変更があった場合は，遅延なく，本サービスの定める方法により当該変更事項を通知するものとします。
  </div>
  <div class="terms-sentences">
    本サービス提供者は，現在登録されている連絡先が有効なものとみなして当該連絡先へ通知または連絡を行い，これらは，発信時にユーザーへ到達したものとみなします。
  </div>

  <div class="terms-title">第6条（本サービスの提供の停止等）</div>
  <div class="terms-sentences">
    本サービス提供者は，以下のいずれかの事由があると判断した場合，ユーザーに事前に通知することなく本サービスの全部または一部の提供を停止または中断することができるものとします。
  </div>
  <div class="terms-dot-sentences"><span class="terms-sentences-dot">・ </span>本サービスのシステムの保守点検または更新を行う場合</div>
  <div class="terms-dot-sentences"><span class="terms-sentences-dot">・ </span>本サービスが利用するインフラサービスの障害などにより，本サービスの提供が困難となった場合</div>
  <div class="terms-dot-sentences"><span class="terms-sentences-dot">・ </span>その他，本サービスの提供が困難と判断した場合</div>
  <div class="terms-sentences">
    本サービスの提供の停止または中断により，ユーザーまたは第三者が被ったいかなる不利益または損害についても，一切の責任を負わないものとします。
  </div>

  <div class="terms-title">第7条（利用制限および登録抹消）</div>
  <div class="terms-sentences">
    本サービス提供者は，ユーザーが以下のいずれかに該当する場合には，事前の通知なく，ユーザーに対して，本サービスの全部もしくは一部の利用を制限し，またはユーザーとしての登録を抹消することができるものとします。
  </div>
  <div class="terms-dot-sentences"><span class="terms-sentences-dot">・ </span>本規約のいずれかの条項に違反した場合</div>
  <div class="terms-dot-sentences"><span class="terms-sentences-dot">・ </span>その他，本サービスの利用を適当でないと判断した場合</div>
  <div class="terms-sentences">
    本サービス提供者は，本条に基づき行った行為によりユーザーに生じた損害について，一切の責任を負いません。
  </div>

  <div class="terms-title">第8条（免責事項）</div>
  <div class="terms-sentences">
    本サービスの運営者は，本サービスに関して，ユーザーと他のユーザーまたは第三者との間において生じた取引，連絡または紛争等について一切責任を負いません。
  </div>
  <div class="terms-title">第9条（退会）</div>
  <div class="terms-sentences">
    ユーザーは，マイページからユーザー情報を削除することにより，本サービスから退会できるものとします。
  </div>
  <div class="terms-title">第10条（サービス内容の変更等）</div>
  <div class="terms-sentences">
    本サービス提供者は，ユーザーに通知することなく，本サービスの内容を変更または本サービスの提供を中止することができるものとし，これによってユーザーに生じた損害について一切の責任を負いません。
  </div>
  <div class="terms-title">第11条（利用規約の変更）</div>
  <div class="terms-sentences last-sentence">
    本サービス提供者は，必要と判断した場合には，ユーザーに通知することなくいつでも本規約を変更することができるものとします。なお，本規約の変更後，本サービスの利用を開始した場合には，ユーザーは変更後の規約に同意したものとみなします。
  </div>
</div>

<style media="screen">
  body {
    background-color: #e9f1f5;
  }

  .terms-container {
    padding: 12px;
    color: #000000;
    opacity: 87.0%;
  }

  .terms-big-title {
    font-size: 32px;
    line-height: 48px;
    letter-spacing: normal;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 10px;
  }

  .terms-title {
    font-size: 22px;
    line-height: 36px;
    letter-spacing: normal;
    font-weight: bold;
    margin-top: 15px;
  }

  .terms-subtitle {
    font-size: 18.72px;
    line-height: 28.08px;
    letter-spacing: normal;
    font-weight: bold;
    margin-top: 15px;
  }

  .terms-sentences {
    line-height: 1.7rem;
    margin-top: 0.3rem;
    margin-left: 10px;
    margin-bottom: 0.3rem;
  }

  .terms-sentences-dot {
    font-weight: bold;
  }

  .terms-dot-sentences {
    margin-left: 15px;
  }

  .last-sentence {
    margin-bottom: 20px;
  }

  .privacy-link {
    text-decoration: underline;
  }
</style>

<script type="text/javascript">
  $('#notice').css('display','none');
  $('#alert').css('display','none');
</script>

<script type="text/javascript">
  if (document.getElementById("footer") == null) {
    var diva = document.getElementById("footerfixed");
    var div = document.createElement('div');
    div.innerHTML = `
    <div id="footer" class="footer footer-layout-set">
      <div class="footer-sentence">
        <span class="footer-sentence-link">
          <a class="footer-sentence-link-in" href="/homes/terms">利用規約</a>
        </span>
        <span class="footer-sentence-link">
          <a class="footer-sentence-link-in" href="/homes/privacy_policy">プライバシーポリシー</a>
        </span>
        <span class="footer-sentence-link-twe footer-sentence-link-twitter">
          <a class="footer-sentence-link-in" href="https://twitter.com/0je3EP7f4PZPpLm">
            <i class="fab fa-twitter"></i>
          </a>
        </span>
        <span class="footer-sentence-link-when">© 2020 - 2022 TechBookHub</span>
      </div>
    </div>
    `;
    diva.appendChild(div);
    $(`#footer`).unwrap();
  }
</script>
