html, body {
   background: yellow; /* 背景色を黄色に */
}

.aaa {
  background-repeat: no-repeat;
  height: 80px;
  width: 80px;
  object-fit: none;
  border-radius: 100%;
}

.bbb {
  border-radius: 100%;
  height: 80px;
  width: 80px;
}
