input::-webkit-calendar-picker-indicator {
    opacity: 0;
}

.footer-layout-set-on {
  display: none;
}

textarea {
  resize: none;
}

.flash-messages {
  color: #F1F1F1;
  background: #323232;
  padding: 8px 24px;
  margin: 12px;
  width: 288px;
  height: 48px;
  border-radius: 4px;
  font-size: 14px;
  display: flex;
  align-items: center;
  position: fixed;
  bottom: -100px;
}

.flash {

}

.icon-image-class {
  background-repeat: no-repeat;
  border-radius: 100%;
}

* {
  box-sizing: border-box;
}

*:focus {
  outline: none !important;
}

*:focus {
 box-shadow:none !important;
}

a {
    text-decoration:none;
}

.header-login {
  padding: 20px 16px;
  display: block;
  margin-left: auto;
  width: 100px;
  text-align: center;
  margin-right: 16px;
}

.header-btns {
  display: flex;
  justify-content: space-between;
}

.header-menus {
  display: flex;
}

.header-link-color {
  color: white;
}

.header-link-color-menus {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  color: white;
  font-size: 14px;
  letter-spacing: 1.25px
}

.header-link-color-menus:hover {
  background-color: rgba(11,101,151,0.9);
  filter: brightness(1.2);
  transition-duration: 0.2s;
  color: white;
  font-size: 14px;
  letter-spacing: 1.25px
}

.header-link-color {
  display: flex;
  align-items: center;
  color: white;
  font-size: 14px;
  letter-spacing: 1.25px
}

.header-link-color:hover {
  background-color: rgba(11,101,151,0.9);
  filter: brightness(1.2);
  transition-duration: 0.2s;
  color: white;
  font-size: 14px;
  letter-spacing: 1.25px
}


.container {
  padding: 0;
}

html, body {
  height: 100%;
  background-color: #E8F3F6;
}

ul {
  margin: 0px;
}

.currentuser_message_content {
  color: green;
}

.user_message_content {
  color: black;
}

.follow-logo {
  background-repeat: no-repeat;
  height: 40px;
  width: 40px;
  object-fit: none;
  border-radius: 100%;
}

.follow-default-logo {
  border-radius: 100%;
  height: 40px;
  width: 40px;
}

.response-logo {
  background-repeat: no-repeat;
  height: 20px;
  width: 20px;
  object-fit: none;
  border-radius: 100%;
}

.response-default-logo {
  border-radius: 100%;
  height: 20px;
  width: 20px;
}

.comment_space {
  margin-top: 20px;
}

.notify-red-icon {
    display: inline-block;
    position: absolute;
    top: -5px;
    left: 15px;
    border-radius: 50%;
    background-color: red;
    height: 20px;
    width: 20px;
    color: white;
    text-align: center;
}

.notification-link {
  display: inline-block;
  position: relative;
}

.footerFixed {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  background-color: #1F2937;
}

.footer {
  margin-top: auto;
  width: 100%;
  background-color: rgba(229,231,235,1);
}

.footer-name {
  text-align: center;
  color: #ffffff;
  font-size: .75rem;
  line-height: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.footer-username {
  text-decoration: underline;
}

.footer-username-mark {
  width: 0.75rem;
}

.footer-sentence {
  color: #ffffff;
  text-align: center;
  font-size: .75rem;
  line-height: 1rem;
  padding-bottom: 5px;
}

body {
  background-color: #ffffff;
}

.header {
  background-color: #006596;
}

.footer {
  background-color: #0079b5;
}

.login_form {
  border: solid 1px #F1F1F1;
  background: white !important;
}

/* sub_header */

.subheader-btns {
  display: flex;
  justify-content: space-between;
  background-color: #E8F2F5;
  padding: 12px 10px 12px 0px;
  max-width: 1100px;
  height: 80px
}

.subheader-menus {
  display: flex;
}

.subheader-menu-link {
  display: flex;
  align-items: center;
  padding: 0 16px;
  color: #6A6F70;
  height: 100%;
}

.subheader-menu-link:hover {
  background-color: #E8F2F5;
  color: #6A6F70;
  border-radius: 4px;
  filter: brightness(0.95);
  transition-duration: 0.2s;
}

.subheader-review-up {
  display: flex;
  align-items: center;
}

.subheader-review-link {
  display: flex;
  align-items: center;
  padding: 0 16px;
  color: white;
  border-radius: 4px;
  background-color: #0F79B5;
  height: 70%;
  font-size: 14px;
  letter-spacing: 1.25px;
}

.subheader-review-link:hover {
  color: white;
  filter: brightness(1.05);
  transition-duration: 0.2s;
}

.subheader-min-review-up {
  display: flex;
  align-items: center;
  height: 56px;
  padding: 0px 56px;
  background-color: #E8F2F5;
}

.subheader-min-review-link {
  display: flex;
  align-items: center;
  padding: 0 16px;
  color: white;
  border-radius: 4px;
  background-color: #0F79B5;
  height: 70%;
  font-size: 14px;
  letter-spacing: 1.25px;
  height: 70%;
}

.subheader-min-review-link:hover {
  color: white;
  filter: brightness(1.05);
  transition-duration: 0.2s;
}

@media screen and (max-width: 650px){
  .subheader-review-up {
    display: none;
  }

  .subheader-btns {
    padding: 8px 4px 0px 4px;
    height: 60px;
  }

  .subheader-menu-link {
    padding: 0 4px;
  }

  .subheader-min-review-up {
    padding: 0px 4px;
  }

  .after-home-page-back {
    margin-bottom: 0px;
  }

}

@media screen and (min-width: 650px){
  .subheader-min-review-up {
    display: none;
  }
}
