.privacy-policy-terms {
  color: #000000;
  opacity: 87.0%;
  padding: 12px;
}

.privacy-policy-big-title {
  font-size: 32px;
  line-height: 48px;
  letter-spacing: normal;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 10px;
}

.privacy-policy-title {
  font-size: 22px;
  line-height: 36px;
  letter-spacing: normal;
  font-weight: bold;
  margin-top: 15px;
}

.privacy-policy-subtitle {
  line-height: 1.7rem;
  margin-top: 0.3rem;
  margin-left: 10px;
  margin-bottom: 0.3rem;
  line-height: 27.2px;
  font-size: 16px;
  opacity: 80.0%;
  font-family: Roboto, sans-seri;
}

.privacy-policy-dot {
  font-weight: bold;
  opacity: 100%;
}

.privacy-policy-sentence {
  line-height: 27.2px;
  font-size: 16px;
  opacity: 80.0%;
  font-family: Roboto, sans-seri;
  margin-left: 15px;
}

.privacy-policy-link {
  line-height: 27.2px;
  font-size: 16px;
  font-weight: 500;
  opacity: 80.0%;
  line-height: 1.7rem;
  margin-top: 0.3rem;
  margin-left: 15px;
  margin-bottom: 0.3rem;
}

.privacy-policy-last {
  margin-left: 15px;
}
