.search-reviews-index-size {
  margin-top: 20px;
  max-width: 900px;
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.search-reviews-forms {
  padding: 30px 20px;
  background-color: white;
  border-radius: 4px
}

.search-reviews-infos-left {
  margin-top: 12px;
}

.search-reviews-infos-right {
  margin-top: 12px;
}

.search-reviews-index-words {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}

.search-reviews-tag {
  cursor: pointer;
  border-radius: 0.25rem;
  background-color: rgba(229,231,235);
  list-style: none;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  font-size: .75rem;
  line-height: 1rem;
  color: rgba(55,65,81);
  margin: 0.125rem;
}

.search-reviews-tag:hover {
  background-color: rgba(229,231,235);
  filter: brightness(0.9);
  color: rgba(55,65,81);
}

.reviews-index-search-form {
  padding: 0.375rem 0.75rem;
  background-color: #0079b5;
  color: white;
}

.search-reviews-index-explain {
  font-size: 14px;
  color: #3b394d;
}

.title-or-content-form {
  border-radius: 8px 0px 0px 8px;
}

.title-search-btn {
  border-radius: 0px 8px 8px 0px;
  font-size: 14px;
  line-height: 24px;
  padding: 10px 40px;
}

.content-search-btn {
  border-radius: 8px;
  font-size: 14px;
  line-height: 24px;
  padding: 10px 40px;
}

.title-search-btn:hover {
  color: white;
  filter: brightness(1.05);
  transition-duration: 0.2s;
}

.content-search-btn:hover {
  color: white;
  filter: brightness(1.05);
  transition-duration: 0.2s;
}

.search-index-form-groups {
  display: flex;
}

.search-reviews-index-explains {
  margin-bottom: 5px;
}

.search-reviews-or {
  font-size: 16px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.search-reviews-index-title {
  color: #6A6F70;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}

.none-search-icon {
  margin-top: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.none-search-icon-awesome {
  font-size: 80px;
  color: #6A6F70;
  display: block;
}

.none-search-icon-sentence {
  font-size: 14px;
  font-weight: 600;
  color: #6A6F70;
  margin-top: 20px;
}
